body{
    background-color: #00838f;
}

.app-name{
    font-weight: 300;
    font-size: 16px;
    color: #cccccc;
}

.loading{
    background-color: rgba(0, 131, 143, 0.91);;
    position: absolute;
    z-index: 99999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading .message{
    margin-top: 100px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

.calendar-wrapper{
    margin: 100px 50px;
    background-color: rgba(255, 255, 255, 0.41);
    padding: 50px;
    box-shadow: 5px 10px 40px rgba(45, 45, 45, 0.32);
}

.calendar-locked{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 131, 143, 0.68);
    z-index: 999;
}

/*Navbar override*/
.navbar, .navbar.navbar-default {
    background-color: rgba(19, 19, 19, 0.9);
    color: rgba(255, 255, 255, 0.84);
}

.fc-day,
.fc-widget-content{
    transition: .3s all;
}

.fc-widget-content .fc-widget-content .fc-day:hover,
.fc-widget-content .fc-widget-content:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}